#container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4{
    background-color: #e5e5e5;
    color: #000000;
    border: 1px solid #D6A800;
    padding: 10px;
}
a{
    color: #8e5572;
    text-decoration: none;
}
a:visited{
    color: #4281a4;
}
a:hover{
    color:#9e7b9b;
}
