div#image-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}
div#gallery-item{
    border: 1px solid rgba(0,18,25);
}
h1{
    text-align: center;
    color: rgba(0,18,25);
}
h3{
    text-align: center;
    color: rgba(0,95,115)
}
figure{
    text-align: center;
}
figcaption{
    font-style: italic;
    font-size: .75em;
    color: rgba(10,147,150)
}
div#bottom{
    float: right;
}